@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap');

.main-header .logo {
    font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}


body {
    font-family: 'Roboto Condensed', sans-serif;
}

h4{
  font-family: 'Oswald', sans-serif;
}

h3{
  font-family: 'Oswald', sans-serif;
}

.logo {
background-color: #E3D0CC!important;

}

.navbar {
  background-color: #fafafa !important;
}




