@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=PT+Sans+Narrow&family=Roboto+Condensed:wght@300&display=swap');

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color:#043D52;
}

h3 {
  font-family: 'Oswald', sans-serif;
  color:#64DE9D;
}

h4 {
  font-family: 'Oswald', sans-serif;
  color:#080000;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
  color:#043D52;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
}